# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/
pip-wheel-metadata/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
*.egg
*.sqlite3
*.db
*.log
.mypy_cache/

# Node / Next.js
node_modules/
.next/
out/
/build/
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
